= form_with(model: group, local: true) do |form|
  - if group.errors.any?
    #error_explanation
      %h2
        = pluralize(group.errors.count, "error")
        prohibited this group from being saved:
      %ul
        - group.errors.full_messages.each do |message|
          %li= message
  .form-group
    %label{ for: 'name'}
      groupname
    = form.text_field :name, type: 'text', id: 'name', class:'form-control'
  .form-group
    %label{ for: 'public'}
      公開する
    = form.check_box :public, as: :boolean, id: 'public', class:'form-check-input'
  .actions
    = form.submit
